.container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 48px 36px 1fr 36px;
  grid-template-areas:
    'header'
    'nav'
    'main'
    'footer';
}

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

/* Larger than mobile */
@media (min-width: 400px) {
  .container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 48px 36px 1fr 36px;
    grid-template-areas:
      'header'
      'nav'
      'main'
      'footer';
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
